@page
@model semester1Website.Pages.BegivenhederModel
@{
    ViewData["Title"] = "Begivenheder";
}
<h1>Begivenheder</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="Title">Titel</label>
        <input asp-for="Title" class="form-control" placeholder="Titel">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Date">Dato</label>
        <input type="date" asp-for="Date" class="form-control" placeholder="yyyy-mm-dd">
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Beskrivelse</label>
        <textarea asp-for="Description" class="form-control" rows="3" placeholder="Beskrivelse"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Location">Lokation</label>
            <select class="form-control" id="Locations" asp-for="Location" onchange="hideShowFormFields()">
                <option value=>Vælg en lokation</option>
                @foreach (var location in Model.Locations)
                {
                    <option value="@location">@location</option>
                }
            </select>
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Gem begivenhed</button>
</form>

@if (Model.NewEvent != null)
{
    <h3>Begivenhed</h3>
    <p>Titel: @Model.NewEvent.Title</p>
    <p>Dato: @Model.NewEvent.Date</p>
    <p>Beskrivelse: @Model.NewEvent.Description</p>
    <p>Lokation: @Model.NewEvent.Location</p>
}
